@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

/* RESET */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
}

/* VARIABLES */

:root {
  /* fonts */
  --font-sm: 14px;
  --font-m: 20px;
  --font-xxl: 56px;

  /* colors */
  --lightdark: #95a6b4;
  --light: #fff;
  --dark: #000;

  /* borders */
  --radius: 15px;
}

/*  */

body {
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}

a,
a:any-link {
  text-decoration: none;
  color: var(--lightdark);
}

img {
  display: block;
}
.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

.vertical-line {
    width: 0.5px;
    height: 114px;
    background-color: #D8D8D8;
}

.horizontal-line {
    height: 1px;
    background-color: #D8D8D8;
}

/*   */

.preview {
  background-color: var(--dark);
  color: var(--light);
  text-align: center;
  border: none;
}

.preview h2 {
  font-size: 1rem;
  font-weight: 500;
  padding-block: 25px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-inline: 62px;
}

.header.header-up {
  padding-top: 38px;
}

.header.header-down {
  padding-block: 73px;
}

.header__nav ul {
  display: flex;
  justify-content: space-between;
  padding-inline: 98px;
}

.grid.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin-top: 80px;
}

.grid.container .grid__item {
  position: relative;
}

.grid.container .grid__item img:first-child,
.banner-img {
  filter: brightness(70%);
}

.grid.container .grid__item:first-child {
  grid-column: 1/3;
}

.grid.container .grid__item .title {
  position: absolute;
  right: 40px;
  bottom: 34px;
  color: var(--light);
  font-weight: 500;
  z-index: 1;
}

.grid.container .grid__item p {
  position: absolute;
  bottom: 26px;
  left: 30px;
  color: var(--light);
  z-index: 1;
  font-size: var(--font-m);
}

.grid.container .grid__item .chevron-img {
  position: absolute;
  right: 24px;
  bottom: 20px;
}

/* NEWS */

.news {
    display: flex;
    justify-content: space-evenly;
    margin-block:80px;
}

.news__item {
    padding:25px 46px 25px 38px;
}

.news__item .news__title {
    font-weight:600;
    margin-bottom:1rem;
}

.news__item .news__info {
    font-size:var(--font-sm);
    color:var(--lightdark);
}

.news-flex {
    display: flex;
    gap:98px;
}

/* FOOTER */

.footer ul li a{
    font-size: var(--font-sm);
    color:var(--dark);
}

.footer .footer__list {
    display: flex;
    justify-content: center;
    gap:48px;
    text-align: center;
}

.footer .footer__down {
    display: flex;
    gap:132px;
    justify-content: center;
    margin-block:3rem;
}

.footer .socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:72px;
    margin-bottom:54px;
}

.footer__up {
    margin-block:65px 16px;
}